services:
  - type: web
    name: aari-backend
    runtime: python
    buildCommand: "bash render-build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.7
      - key: PORT
        value: 8080
    autoDeploy: true
